<main class='flex flex-col justify-center items-center'>
	<% if @articles.length === 0 %>
	  <h1> No articles to show </h1>
	<% else %>
	  <% @articles.each do |article| %>
	    <%= render partial: 'articles/article_preview', locals: {article: article} %>
	  <%end%>
	<% end %>
	<aside class='float-right'>
		<div class='social-media'>
		</div>
	</aside>
</main>