// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

$primary-color-dark:   #D32F2F;
$primary-color:        #F44336;
$primary-color-light:  #FFCDD2;
$primary-color-text:   #FFFFFF;
$accent-color:         #FF4081;
$primary-text-color:   #212121;
$secondary-text-color: #757575;
$divider-color:        #BDBDBD;

.flex {
	display: flex;
}

.flex-col {
	flex-direction: column;
}

.justify-center {
	justify-content: center;
}

.justify-end {
	justify-content: flex-end;
}

.items-center {
	align-items: center;
}

.items-end {
	align-items: flex-end;
}

.header {
	background-color: $primary-color;
	height: 150px;
	width: 100vw;
}

.dark-bg {
	background-color: $primary-color-dark;
	height: 20px;
}

.article-preview {
	max-width: 700px;
	min-width: 350px;
}