<header>
	<div>
		<% if user_signed_in? %>
		  <div>
		  	<a>Create an Article</a>
		  	<%= link_to "Log out", destroy_user_session_path%>
		  </div>
		<% else %>
		  <div>
		  	<%= link_to "Log in", new_user_session_path%>
		  </div>
		<% end %>
	</div>
</header>